@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Nunito&family=Roboto&display=swap');


:root {
    --transition-delay: 200ms;
}

.centerAlign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    background-image: url(img/background.png), radial-gradient(circle, rgba(255, 0, 0, 0), rgba(255, 255, 0, 0));
    background-color: rgba(0, 0, 0, 0.861);
    background-size: 1920px 1080px;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: fit-content;
}

#bodyContent {
    transition: var(--transition-delay);
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 10%, rgba(72, 72, 72, 0.209) 90%);
    -webkit-transition: var(--transition-delay);
    -moz-transition: var(--transition-delay);
    -o-transition: var(--transition-delay);
    -ms-transition: var(--transition-delay);
    margin: 0;
    padding: 0;
}

#colorResetImage{
    size: 30%;
}

#gradient {
    width: 87%;
    height: 35px;
    background: linear-gradient(to right, #A1A1A1, #A1A1A1 100%);
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: #00000000 solid 1px; */
    border-radius: 4px;
}

#colorDiv {
    width: 300px;
    transition: 0.3s ease;
    margin-left: 10%;
    display: none;
    z-index: -1;
}

#colorUpDiv {
    width: 70%;
    position: absolute;
}

#scaleLi {
    display: inline-flex;
    font-size: 20px;
    color: rgb(0, 0, 0);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 33px;
    align-items: center;
    user-select: none;
}

#scales {
    width: 110%;
    margin-left: -5%;
    height: 33px;
}

#colorPicker {
    width: 100px;
    height: 100px;
}

#preset {
    list-style-type: none;
    background-color: #f5f5f5db;
    width: 220px;
    height: 232px;
    padding: 0px;
    border-radius: 5px;
    border: ridge #616161;
    text-align: center;
    padding-bottom: 3px;
}



#barvyText {
    text-align: center;
    font-size: 25px;
    width: 100%;
    color: white;
}

#colorText {
    padding-top: 4px;
    color: white;
}

#switch {
    margin: auto;
    position: inherit;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: -10px;
}

#dolniButtony {
    display: inline-flex;
    width: 100%;
}

#dolniButtonyUp {
    width: 80%;
    margin: auto;
    margin-top: 20%;
}

/*ADAM*/
#cursortutorial {
    position: fixed;
    animation-fill-mode: forwards;
    top: var(--firsttop);
    left: var(--firstleft);
    z-index: 1;
}

.prepinace {
    cursor: pointer;
    background: #2CB9F1;
    border-radius: 7px;
    border: 0px;
    color: white;
    font-weight: bold;
    padding: 0.7%;
    font-size: 20px;
    width: 130px;
    /* transition: 0.1s ease; */
}

.prepinace:hover {
    background-color: #249ac9;
}

#celydalsi {
    margin-bottom: 1%;
    right: 0px;
    left: auto;
}

#dalsi {
    height: 40px;
    margin-bottom: 5px;
    right: 0px;
    left: auto;
}

#zpatky {
    margin-bottom: 1%;
    height: 40px;
    left: 0;
}

#cislostranky {
    padding: 5px;
    width: 5%;
    text-align: right;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #5f5f5f00;
    margin-left: 89%;
    text-align: center;
    border-radius: 7px;
    border: 0px;
    user-select: none;
}

#stranka {
    display: none;
    width: 1200px;
    height: 500px;
    margin: auto auto;
    background-color: rgb(230, 230, 230);
    border: #000000 1px;
    border-radius: 10px;
    padding: 10px 0;

}

#buttonstart {
    display: absolute;
    position: fixed;
    bottom: 50%;
    left: 46%;
    font-size: 2em;
}

#konec {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 30%;
    font-size: 2em;
    color: white;
}

:root {
    --firsttop: 90%;
    --firstleft: 10%;
    --secondtop: 20%;
    --secondleft: 20%;
}

#heading{
    text-align: left;
    width: 50%;
    text-align: left;
    position: absolute;
    margin-top: 2.5%;
    margin-left: 7%;
    font-size: 16px;
    user-select: none;
    color: #616161;
}

@keyframes moves {
    from {
        left: var(--firstleft);
        top: var(--firsttop);
    }

    to {
        left: var(--secondleft);
        top: var(--secondtop);
    }
}

.ripple {
    width: 1px;
    height: 1px;
    background-color: transparent;
    position: fixed;
    border-radius: 50%;
    border: 1px solid #ffffff59;
}

@keyframes ripple-effect {
    to {
        transform: scale(30);
        opacity: 0.01;
    }
}

#tutorialtext {
    position: fixed;
    top: 40%;
    left: 40%;
    /* margin: auto; */
    width: 300px;
    padding: 1%;
    z-index: 1;
    font-size: 1.3em;
    background: rgba(83, 83, 83, 0.901);
    color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 7px;
}

#tutorialbutton {
    color: white;
    font-size: 23px;
    font-weight: bold;
    background: #2CB9F1;
    margin-left: 55%;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 7px;
}

#tutorialbutton:hover {
    background: #249ac9;
    border-width: 2px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    body {
        background-repeat: repeat-y;
        background-size: cover;
    }

    #stranka {
        display: none;
        width: 90%;
        height: 90%;
        background-color: rgb(230, 230, 230);
        border: #000000 1px;
        border-radius: 10px;
        padding: 0;
        margin: 0;
    }
}