:root{
    --H: 200;
    --S: 50%;
    --PickerX: 50%;
    --PickerY: 70%;
    --BrightPickerLeft: 10px;
    --BPickerY: 50%
}

body{
    background-color: #000000;
    padding: 0;
    margin: 0;
}

#ColorBackground{
    left: 15%;
    padding: 0;
    margin: 0;
    width: 70%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: auto;
    position: absolute;
}

#ColorPicker{
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(/img/color_picker.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: var(--PickerX);
    top: var(--PickerY);
    pointer-events: none;
}

#ColorSelectDiv{
    width: 700px;
    height: 350px;
    padding: 12px;
    padding-left: 20px;
    padding-top: 20px;
    margin: auto;

    background-color: rgb(211, 232, 250);
    border-radius: 14px;
    margin-top: 10%;

}

#Subject{
    margin-top: 20%;
    text-align: center;
    pointer-events: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
}

.ColorSelect{
    border: 1px solid black;
    height: 300px;
    width: 620px;
    position: absolute;
}

#Counter{
    position: absolute;
    right: 50px;
    top: 50px;
    color: aliceblue;
}

#Hue{
    background: linear-gradient(to right, red, yellow, lime, aqua, blue, magenta, red);
    border: none;
}

#Saturation{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), hsl(192, 2%, 50%));
    cursor:crosshair;
    border: none;

}

#BrightnessSelect{
    height: 300px;
    width: 23px;
    border: none;
    background-color: aqua;
    position: relative;
    background: linear-gradient(to bottom, hsl( var(--H), 100%, 100%), hsl(var(--H), var(--S), 50%), hsl(var(--H), 100%, 0%));
    cursor:crosshair;
    left: 650px;
}

#BrightnessPicker{
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(/img/arrow_left.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: 20px;
    top: var(--BPickerY);
    pointer-events: none;
}
#nextButton{
    top:0%;
    right: 0%;
    padding:10px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    background: #00000000;
    background-image: url(/img/arrowForward.png);
    filter: invert(1);
    background-repeat: no-repeat;
    background-position: center;
    width: 130px;
    height: 100%;
    border: none;
    position: absolute;
    cursor: pointer;
}
#endingMessage{
    margin: auto;
    margin-top:10%;
    text-align: center;
    width: 100%;
    color:white;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.4s;
}

#nextButton:hover{
    background-size: 47%;

}