:root{
    --H: 200;
    --S: 50%;
    --PickerX: 450px;
    --PickerY: 310px;
    --BrightPickerLeft: 10px;
}

body{
    padding-top: 5%;
}

#ColorPicker{
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(/img/color_picker.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: var(--PickerX);
    top: var(--PickerY);
    pointer-events: none;
}

#ColorSelectDiv{
    width: 700px;
    height: 400px;
    padding: 20px;
    margin: auto;
    background-color: rgb(211, 232, 250);
}

#Subject{
    text-align: center;
    pointer-events: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.ColorSelect{
    border: 1px solid black;
    height: 300px;
    width: 600px;
    position: absolute;
}

#Hue{
    background: linear-gradient(to right, red, yellow, lime, aqua, blue, magenta, red);
}

#Saturation{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), hsl(192, 2%, 50%));
    cursor:crosshair;

}

#BrightnessSelect{
    height: 300px;
    width: 20px;
    border: 1px solid black;
    background-color: aqua;
    position: relative;
    background: linear-gradient(to bottom, hsl( var(--H), 100%, 100%), hsl(var(--H), var(--S), 50%), hsl(var(--H), 100%, 0%));
    cursor:crosshair;
    left: 650px;
}

#BrightnessPicker{
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(/img/arrow_left.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: 20px;
    top: var(--BPickerY);
    pointer-events: none;
}
#nextButton{
    margin-top:3%;
    margin-left:84%;
    padding:10px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    background: #2CB9F1;
    width: 130px;
    height: 50px;
    border: solid gray;
    border-radius: 7px;
}
#endingMessage{
    margin: auto;
    margin-top:10%;
    text-align: center;
    width: 100%;
    color:white;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.4s;
    cursor: pointer;
}

#nextButton:hover{
    background: #2086ae;
    color: rgb(53, 53, 53);
}