@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    vertical-align: middle;
}

.Grid {
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    gap: 40px;
    font-size: 20px;
    color: aliceblue;
    list-style: none;
}

header {
    width: 100%;
    background-color: rgb(59, 59, 59);
}

a {
    color: aliceblue;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover{
    text-decoration: underline;
    color: rgb(218, 237, 253);

}

#Heading {
    text-align: center;
    font-size: 25px;
    color: aliceblue;
}

h1 {
    position: absolute;
}

.bold {
    font-weight: bold;
}

nav {
    display: flex;
    min-height: 70px;
    align-items: center;
    padding: 0 25px;
    justify-content: space-between;
}

#password{
    margin: auto;
    text-align: center;
    margin-top: 20%;
    font-size: large;
}


#container{
    display: none;
    grid-template-columns: 95%;
    grid-template-rows: 50% 50%;
    row-gap: 10px;
    height: 90%;
    margin-bottom: 100px;

}

.lowerCont{
    display: grid;
    grid-template-columns: 10% 50% 20% 20%;
    grid-template-rows: 100px 100px 10px 120px;
    height: 50%;
}

.lowerPanelGrid{
    grid-row: 4;
    grid-column: 2/5;
    background-color: #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    gap: 10px;
    list-style: none;
    padding-left: 0;
    width: 100%;
    padding: 10px;
}

.downloadButton{
    width: 105px;
    height: 40px;
    background-image: url(../img/arrowDown.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(44, 239, 44, 0.847);
    border-radius: 2px;
    border: solid 2px gray;
    cursor: pointer;
    transition: all 0.3s;
    text-align: left;
    background-position: right;
    margin-left: 50px;
}
.downloadButton:hover{
    background-color: rgb(44, 239, 44);
    border: 2px solid black;
}

#basicTable{
    width: 100%;
    background-color: #cccccc51;
    border: #ccc 1px solid;
    padding: 5px;
}
#colorTable{
    width: 100%;

    background-color: #cccccc51;
    border: #ccc 1px solid;
    padding: 5px;
}

.basicTd{
    width: 20%;
}
.colorTd{
    width: 20%;
}
.width80{
    width: 80%;
}
.width100{
    width: 100%;
}
.table{
    overflow-x: hidden;
    overflow-y: auto;
}
.contChild{
    max-height: 60%;
    margin-left: 5%;
}

.saveButton{
    background-color: rgba(44, 239, 44, 0.847);
    border: solid 1px green;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
  padding: 5px;

}

.minusButton{
    background-color: rgba(255, 0, 0, 0.705);
    border: solid 1px green;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 5px;
}

.minusButton:hover{
    background-color: rgb(198, 5, 5);
}

.minusButtonBasic{
    background-color: rgba(255, 0, 0, 0.705);
    border: solid 1px green;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 5px;
}

.minusButtonBasic:hover{
    background-color: rgb(198, 5, 5);
}
#saveButton:hover{
    background-color: rgb(17, 183, 17);
    
}

.plusButton{
    background-color: rgba(210, 239, 44, 0.847);
    border: solid 1px green;
    border-radius: 4px;
    cursor: pointer;
  padding: 5px;

    transition: all 0.3s;
}
.plusButton:hover{
    background-color: rgb(172, 197, 33);

}
.QuestionInput{
    border: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 10px;

}

.basicText{
    position: absolute;
    width: 70%;
    padding: 15px;
}

.QuestionInputBasic{
    border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 10px;

}

#mobile{
    display: none;
}
#slideList{
    list-style: none;
}

@media only screen and (max-width: 940px) {
    #desktop{
        display: none;
    }
    #mobile{
        display: inline;
        font-size: 20px;
        color: aliceblue;
    }
    #hamburger{
        position: absolute;
        right: 5%;
        height: 50px;
        width: 50px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 30px;
        color: aliceblue;
        transition: all 0.3s;
    }
    #slideMenu{
        width: 100%;
        position: absolute;
        right: 200%;
        transition: all 0.3s;
        background-color: rgb(59, 59, 59);
        list-style: none;

    }
    
    
}